In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [3]:
df.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q1. Pandas version

In [4]:
pd.__version__

'2.3.1'

In [5]:
df.info

<bound method DataFrame.info of       engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                     170            3.0       159.0     3413.433759
1                     130            5.0        97.0     3149.664934
2                     170            NaN        78.0     3079.038997
3                     220            4.0         NaN     2542.392402
4                     210            1.0       140.0     3460.870990
...                   ...            ...         ...             ...
9699                  140            5.0       164.0     2981.107371
9700                  180            NaN       154.0     2439.525729
9701                  220            2.0       138.0     2583.471318
9702                  230            4.0       177.0     2905.527390
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year  origin fuel_type         drivetrain  \
0             17.7        2003  Europe  Gasoline    All-wheel drive
1             17.8        2007     USA  Gasoline  Front-wheel drive
2             15.1        2018  Europe  Gasoline  Front-wheel drive
3             20.2        2009     USA    Diesel    All-wheel drive
4             14.4        2009  Europe  Gasoline    All-wheel drive
...            ...         ...     ...       ...                ...
9699          17.3        2013  Europe    Diesel  Front-wheel drive
9700          15.0        2004     USA  Gasoline    All-wheel drive
9701          15.1        2008     USA    Diesel    All-wheel drive
9702          19.4        2011     USA    Diesel  Front-wheel drive
9703          14.7        2005    Asia    Diesel    All-wheel drive

      num_doors  fuel_efficiency_mpg
0           0.0            13.231729
1           0.0            13.688217
2           0.0            14.246341
3           2.0            16.912736
4           2.0            12.488369
...         ...                  ...
9699        NaN            15.101802
9700        0.0            17.962326
9701       -1.0            17.186587
9702        1.0            15.331551
9703       -1.0            14.884467

[9704 rows x 11 columns]>

## Q2. Record count

In [6]:
df.shape[0]

9704

## Q3. Fuel types

In [7]:
df['fuel_type'].value_counts().shape[0]

2

## Q4. Columns with missing values

In [8]:
int(df.isnull().any().value_counts().get(True, 0))

4

## Q5. Max fuel efficiency

In [9]:
float(df['fuel_efficiency_mpg'].max())

25.96722204888372

## Q6. Median value of horsepower

In [10]:
float(df['horsepower'].median())

149.0

In [11]:
df['horsepower'].isnull().value_counts()

horsepower
False    8996
True      708
Name: count, dtype: int64

In [12]:
modal_hp = float(df['horsepower'].mode())
# df['horsepower'].fillna(modal_hp, inplace=True)
new_df = df.copy()
new_df['horsepower'] = new_df['horsepower'].fillna(modal_hp)
new_df['horsepower'].isnull().value_counts()

/tmp/ipykernel_17987/3901345289.py:1: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  modal_hp = float(df['horsepower'].mode())

horsepower
False    9704
Name: count, dtype: int64

In [13]:
float(new_df['horsepower'].median())

152.0

## Q7. Sum of weights

In [14]:
asian_cars = df[df["origin"] == "Asia"]

In [15]:
top7 = asian_cars[['vehicle_weight', 'model_year']].head(7)

In [16]:
X = np.array(top7)
XT = X.T
XTX = XT.dot(X)
w = np.linalg.inv(XTX).dot(XT)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
float(w.dot(y).sum())

0.5187709081074016